<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tjetc.mapper.ServicerequestMapper" >
  <resultMap id="BaseResultMap" type="com.tjetc.pojo.Servicerequest" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="serid" property="serid" jdbcType="VARCHAR" />
    <result column="cretime" property="cretime" jdbcType="VARCHAR" />
    <result column="sertext" property="sertext" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, serid, cretime, sertext
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tjetc.pojo.ServicerequestExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from servicerequest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from servicerequest
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from servicerequest
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tjetc.pojo.ServicerequestExample" >
    delete from servicerequest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tjetc.pojo.Servicerequest" >
    insert into servicerequest (id, serid, cretime, 
      sertext)
    values (#{id,jdbcType=INTEGER}, #{serid,jdbcType=VARCHAR}, #{cretime,jdbcType=VARCHAR}, 
      #{sertext,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tjetc.pojo.Servicerequest" >
    insert into servicerequest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="serid != null" >
        serid,
      </if>
      <if test="cretime != null" >
        cretime,
      </if>
      <if test="sertext != null" >
        sertext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serid != null" >
        #{serid,jdbcType=VARCHAR},
      </if>
      <if test="cretime != null" >
        #{cretime,jdbcType=VARCHAR},
      </if>
      <if test="sertext != null" >
        #{sertext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tjetc.pojo.ServicerequestExample" resultType="java.lang.Integer" >
    select count(*) from servicerequest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update servicerequest
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.serid != null" >
        serid = #{record.serid,jdbcType=VARCHAR},
      </if>
      <if test="record.cretime != null" >
        cretime = #{record.cretime,jdbcType=VARCHAR},
      </if>
      <if test="record.sertext != null" >
        sertext = #{record.sertext,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update servicerequest
    set id = #{record.id,jdbcType=INTEGER},
      serid = #{record.serid,jdbcType=VARCHAR},
      cretime = #{record.cretime,jdbcType=VARCHAR},
      sertext = #{record.sertext,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tjetc.pojo.Servicerequest" >
    update servicerequest
    <set >
      <if test="serid != null" >
        serid = #{serid,jdbcType=VARCHAR},
      </if>
      <if test="cretime != null" >
        cretime = #{cretime,jdbcType=VARCHAR},
      </if>
      <if test="sertext != null" >
        sertext = #{sertext,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tjetc.pojo.Servicerequest" >
    update servicerequest
    set serid = #{serid,jdbcType=VARCHAR},
      cretime = #{cretime,jdbcType=VARCHAR},
      sertext = #{sertext,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>